.card-header{
    text-align: left;
}
.row{
    display: flex;
    width: 100%;
  }
  .card1{
    background: grey;
    width: 15%;
 }
 .card2{
    border: white;
    background: grey;
    width: 85%;
 }